# Everything in Pandas

### **Import It**

In [1]:
import pandas as pd

### **Create DataFrame**

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [ ]:
myarray = np.array([[6,9,8,5,4,2],[0,2,5,6,3,9],
[8,5,4,1,2,3],[6,9,8,5,4,2],
[0,5,3,6,9,8],[8,7,4,5,2,3]])
rownames = ['a', 'b','c','d','e','f']
colnames = ['one', 'two', 'three','four','five','six']
df = pd.DataFrame(myarray, index=rownames, columns=colnames)

### **Create Series**

In [5]:
pd.Series([30, 35, 40], 
          index=['2015 Sales', '2016 Sales', '2017 Sales'], 
          name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### **Read CSV files**

In [ ]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv"
                           ,index_col=0)
#index_col=0 --> let the first column 'index' of the dataset.

### **Shape of Dataset**

In [ ]:
#(number of rows,number of columns)
wine_reviews.shape

## **df.T**
transpose of the matrix of the dataframe

In [ ]:
wine_reviews.T

## **Stack**()
is used to pivot the DataFrame from wide format to long format by "stacking" the specified level(s) of columns into a single level of columns.

In [ ]:
wine_reviews.stack()

## **Unstack**()
is the reverse operation of .stack().<br>
The .unstack() method in pandas is used to pivot a level of the multi-level index labels, essentially converting a multi-level index into columns. This operation is particularly useful when you have a hierarchical index (**MultiIndex**) and you want to transform the DataFrame for better visualization or analysis.

### **Size of Dataset**
represents the total number of elements in the DataFrame, <br>
number of rows * number of cols.

In [ ]:
wine_reviews.size

### **Values of Dataset**
Gives you the actual data values in the 'Series'.

In [ ]:
wine_reviews.country.values

### **index of Dataset**
This returns the row indices of the DataFrame.

In [ ]:
wine_reviews.index

### **Columns of Dataset**
This returns the column names (keys) of the DataFrame.

In [ ]:
wine_reviews.columns

### **Axes of Dataset**
write infos abotu rows and cols.

In [ ]:
wine_reviews.axes

Row Axes:<br>
RangeIndex(start=0, stop=3, step=1)<br>
<br>
Column Axes:<br>
Index(['A', 'B', 'C'], dtype='object')<br>

### **Rows of the DataFrame**
default number of rows is 5.

In [ ]:
#examine first 50 rows from the dataset
wine_reviews.head(50)

In [ ]:
#examine last 50 rows from the dataset
wine_reviews.tail(50)

### **Get column from Dataset**

In [ ]:
#points is a column from wine_reviews
wine_reviews.points
#or
wine_reviews['points']

## **Indexing** 
Both loc and iloc are row-first, column-second. 
This is the opposite of what we do in native Python,
which is column-first, row-second.<br><br>
**iloc** --> index-based selection.<br>
**loc** --> Label-based selection.<br><br>
**iloc** uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. **loc**, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

In [ ]:
#we want to get 'second' and and 'fifth' rows from first column which is 'area'
wine_reviews.iloc[[1,4], 0]
#or
wine_reviews.loc[[1,4], 'area']

### **Manipulating the index**

In [ ]:
#title is column from wine_reviews Dataset
wine_reviews.set_index("title")

### **Conditional selection**

In [ ]:
#We can start by checking if each wine is Italian or not:
wine_reviews.country == 'Italy'

<span style="font-family: 'Consolas'; font-size: 16px;">

0          True<br>
1         False<br>
          ...  <br>
129969     False<br>
129970     False<br>
Name: country, Length: 129971, dtype: bool<br></span>

In [ ]:
#we want to select data if country is Italy and has points more than 90
wine_reviews.loc[(wine_reviews.country == 'Italy') & (wine_reviews.points > 90)]

In [ ]:
#we want to select data if country is Italy or France
wine_reviews.loc[wine_reviews.country.isin(['Italy', 'France'])]

In [ ]:
#we want to select data if price is not 'Null'
wine_reviews.loc[wine_reviews.price.notnull()]
#we want to select data if price is 'Null'
wine_reviews.loc[wine_reviews.price.isnull()]

In [ ]:
#or 
result = df.query('price < 0.5 and age > 30')

## **Drop**

Drop Multiple Rows or Columns:

In [ ]:
df.drop(index=[1, 2], inplace=True)  # Remove rows with indices 1 and 2
df.drop(columns=['col1', 'col2'], inplace=True)  # Remove columns 'col1' and 'col2'

Drop Rows by Condition:

In [ ]:
df.drop(df[df['column_name'] > 50].index, inplace=True)  # Remove rows based on a condition

### **Assigning data**

In [ ]:
wine_reviews['critic'] = 'everyone'
wine_reviews['critic']

<span style="font-family: 'Consolas'; font-size: 16px;">
0         everyone<br>
1         everyone<br>
            ...   <br>
129969    everyone<br>
129970    everyone<br>
Name: critic, Length: 129971, dtype: object<br></span>

In [ ]:
#Or with an iterable of values:
wine_reviews['index_backwards'] = range(len(wine_reviews), 0, -1)

<span style="font-family: 'Consolas'; font-size: 16px;">
0         129971<br>
1         129970<br>
           ...  <br>
129969         2<br>
129970         1<br>
Name: index_backwards, Length: 129971, dtype: int64<br></span>

### **Renaming**

In [ ]:
#For Columns
#changes points column to score
wine_reviews.rename(columns={'points': 'score'})

In [ ]:
#For Index
wine_reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

In [ ]:
#For Column and row indexes
wine_reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

![ALT Text](C:/Users/User/Desktop/Programming/rows_and_columns_indexes.png)

### **Combining**<br>
**concat**(), **join**(), and **merge**()

In [ ]:
#Concat()
canadian_youtube = pd.read_csv("../input/youtube-new/CAvideos.csv")
british_youtube = pd.read_csv("../input/youtube-new/GBvideos.csv")

pd.concat([canadian_youtube, british_youtube])

The **lsuffix** and **rsuffix** parameters are necessary here because the data has the same column names in both British and Canadian datasets. If this wasn't true (because, say, we'd renamed them beforehand) we wouldn't need them.

In [ ]:
#Join()
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

**Merge** is used to combine two DataFrames based on a common column or index. It's similar to SQL JOIN operations.

**How** --> <br>'inner' = Use the intersection of keys from both frames, similar to an SQL inner join.<br>
'outer' = Use the union of keys from both frames, filling in missing values with NaN.<br>
'left' = Use the keys from the left frame only.<br>
'right' = Use the keys from the right frame only.

In [ ]:
#Merge()
#if they share same column name
result = pd.merge(df1, df2, on='EmployeeID',suffixes=('_df1', '_df2'),how = 'outer')
#if not
result = pd.merge(df2, df1, 
                  right_on=df2.columns[-1], 
                  left_on='age', 
                  suffixes=('_df1', '_df2'),how = 'inner')

## **Summary functions**

#### **describe()**<br>
This method generates a high-level summary of the attributes of the given column. It is type-aware, meaning that its output changes based on the data type of the input.

In [ ]:
#For numerical Data

<span style="font-family: 'Consolas'; font-size: 16px;">

count    129971.000000<br>
mean         88.447138<br>
             ...      <br>
75%          91.000000<br>
max         100.000000<br>
Name: points, Length: 8, dtype: float64</spqn>

In [ ]:
#For categorical Data

<span style="font-family: 'Consolas'; font-size: 16px;">
count         103727<br>
unique            19<br>
top       Roger Voss<br>
freq           25514<br>
Name: taster_name, dtype: object
</span>

### **Info**()
provides a concise summary of a DataFrame, including information about the **data types**, **non-null counts**, and **memory usage**. It is a <u>useful</u> method to quickly assess the structure and properties of a DataFrame.

In [ ]:
wine_reviews.info()

<span style="font-family: 'Consolas'; font-size: 16px;">

class 'pandas.core.frame.DataFrame'><br>
Index: 9355 entries, Data DevOps Engineer to Business Data Analyst<<br>br>
Data columns (total 12 columns):<br>
 \#   Column              Non-Null Count  Dtype <br>
---  ------              --------------  ----- <br>
 0   work_year           9355 non-null   int64 <br>
 1   job_title           9355 non-null   object<br>
 2   job_category        9355 non-null   object<br>
 3   salary_currency     9355 non-null   object<br>
 4   salary              9355 non-null   int64 <br>
 5   salary_in_usd       9355 non-null   int64 <br>
 6   employee_residence  9355 non-null   object<br>
 7   experience_level    9355 non-null   object<br>
 8   employment_type     9355 non-null   object<br>
 9   work_setting        9355 non-null   object<br>
 10  company_location    9355 non-null   object<br>
 11  company_size        9355 non-null   object<br>
dtypes: int64(3), object(9)<br>
memory usage: 950.1+ KB</span>

#### **unique**()
To see a list of unique values.

In [ ]:
wine_reviews.taster_name.unique()

#### **value_counts**()
To see a list of unique values and how often they occur in the dataset,

In [ ]:
wine_reviews.taster_name.value_counts()

#### **nunique**()
returns the number of unique values in each column.

In [ ]:
wine_reviews.country.nunique()

#### **mean**(), **median**(), **std**(), **min**(), **max**(), **sum**(),**prod**(),**corr**():
These functions calculate the mean, median, standard deviation, minimum, maximum values,sum,product of all elements and corr respectively, for each column or Series.

In [ ]:
#Example:
wine_reviews.work_year.mean()

#### **count**()
returns the number of non-null values in each column

In [ ]:
wine_reviews.count()

#### **values_count**()
To see a list of unique values and how often they occur in the dataset.

In [ ]:
wine_reviews.country.value_counts()

#### **agg**() or **aggregate**()
Aggregate using one or more operations over specified axis.

In [ ]:
aggregation_result = wine_reviews.aggregate({'Column1': 'mean', 'Column2': 'max'})
#or
aggregation_result = wine_reviews.agg(['max','sum','mean'])

#### **sample**()
Returns a random sample of items from an axis of the object.

In [ ]:
random_sample = wine_reviews.sample(n=5)  # Get a random sample of 5 rows

#### **dublicated**()
Returns a boolean Series indicating duplicate rows.

In [ ]:
# Check for duplicated rows
duplicated_rows = wine_reviews.duplicated()

Example:<br>
Original DataFrame:<br>
      Name  Age  Salary<br>
0    Alice   25   50000<br>
1      Bob   30   60000<br>
2  Charlie   22   45000<br>
3    Alice   25   50000<br>
4      Bob   30   60000<br>

Duplicated Rows:<br>
0    False<br>
1    False<br>
2    False<br>
3     True<br>
4     True<br>
dtype: bool<br>

#### **drop_duplicates**
 Returns a DataFrame with duplicate rows removed.

In [ ]:
wine_reviews.drop_duplicates(inplace=True)
#or
wine_reviews = wine_reviews.drop_dublicates(inplace = True)

#### **nlargest**(),**nsmallest**()
These methods return the first n largest or smallest values and their corresponding indices in a Series.

In [ ]:
s = pd.Series([10, 5, 8, 15, 20, 12, 7])

# Get the 2 smallest values and their indices
smallest_values = s.nsmallest(2)

#### **idxmin**(),**idxmax**()
returns the index of the first occurrence of the minimum,maximum values respectively in a Series or DataFrame.

axis = 1 -->  these methods return the index of the first occurrence of the maximum or minimum value along a specified axis

skina = False --> By default, these methods skip NaN (missing) values. If skipna=False is specified, they will consider NaN as the minimum or maximum value, respectively.

In [ ]:
wine_reviews.idxmax(axis=1,skipna=False)

## **Maps**

Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of reviews, we can see that it still has its original points value.

### **map**()
should expect a single value from the Series (a point value, in the above example), and return a transformed version of that value. map() returns a new Series where all the values have been transformed by your function.

In [ ]:
#Example:
review_points_mean = wine_reviews.points.mean()
wine_reviews.points = wine_reviews.points.map({'A': 'X', 'B': 'Y'})

### **apply**()
is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.<br>
If we had called reviews.apply() with axis='index', then instead of passing a function to transform each row, we would need to give a function to transform each column.

In [ ]:
#Example func
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

wine_reviews.apply(remean_points, axis='columns')

### **transform**()
 is specifically designed for group-wise transformations. It works well when you want to apply a function independently to each group and return a result with the same shape as the original DataFrame.

In [ ]:
wine_reviews['Normalized'] = wine_reviews.groupby('country')['price'].transform(lambda x: (x - x.mean()) / x.std())

##### **Their Uses**:
Use **transform** when you want to perform group-wise transformations and broadcast the results back to the original DataFrame.<br>
Use **apply** when you need more flexibility and want to apply a function to each group, potentially with aggregation or more complex logic.<br>
Use **map** when you want to map values element-wise based on a mapping dictionary or function.

## **groupby**()

In [ ]:
wine_reviews.groupby(['country']).price.agg([len, min, max])

### **reset_index**()
to resert index.

In [ ]:
wine_reviews.reset_index()

## **sort_values**()
defaults to an ascending sort, where the lowest values go first. However,

In [ ]:
wine_reviews.sort_values(by=['country', 'len'], ascending=False)

### **sort_index**()
to sort by index values.

In [ ]:
wine_reviews.sort_index()

## **Filter**()
is used for filtering data based on a specified condition. It can be applied to both rows and columns of a DataFrame, allowing you to selectively include or exclude elements.

In [ ]:
# Filtering columns where the column label contains the letter 'B'
filtered_columns = df.filter(like='B', axis=1)

In [ ]:
# Advanced filtering: Include columns where the sum is greater than 20
filtered_advanced = df.filter(lambda x: x.sum() > 20, axis=1)

## **Dtypes**
The data type for a column in a DataFrame or a Series is known as the dtype.

In [ ]:
wine_reviews.price.dtype

<p style='line-height: 1px'>dtype('float64')</p>

#### **astype**()

In [ ]:
wine_reviews.points.astype('float64')

## **Missing data**
Entries missing values are given the value NaN, short for "Not a Number"

#### **fillna**()
provides a few different strategies for mitigating such data.

**method='ffill'** --> To replace missing values with the preceding (previous) non-missing value in a DataFrame.

**method='bfill'** --> To replace missing values with the next (following) non-missing value in a DataFrame.

In [ ]:
#fill Nan with Unknow in region_2 column
wine_reviews.region_2.fillna("Unknown")

In [ ]:
wine_reviews.price.fillna(method = 'ffill')